html {
  background: linear-gradient(-45deg, #10095b, #0b206d, #0B0B3B, #3f0847);
}


.project_button {
  display: inline-block;
  border-radius: 4px;
  background-color: hsl(155, 100%, 98%);
  border: none;
  color:#FFFFFF;
  text-align: center;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.project_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.project_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.project_button:hover span {
  padding-right: 30px;
}

.project_button:hover span:after {
  opacity: 1;
  right: 0;
}

.skill_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #087ae3;
  border: none;
  color:#FFFFFF;
  text-align: center;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.glowtext {
  font-size: 25px;
  color: #df1f13  ;
  
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 30px #fff, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 90px #ff4da6;
  }
}


/* Navigation bar */
#main_navbar {
  position: sticky;
  z-index:10;
  overflow: hidden;
  background-color: #3414b6;
  font-family: "Georgia", Times, serif;
}

#main_navbar a {
  float: left;
  display: block;
  color:#FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#main_navbar a:hover {
  background-color: #ddd;
  color: black;
}

#main_navbar a.active {
  background-color: #7c13df;
  color: white;
} 

#main_navbar a.social {
  background-color: #66ffff;
  color: black;
  border: 5px;
  border-color: #000000;
  border-style: solid;
  margin: auto;
} 

.navbar {
  background-color: #b3834d;
}

.nav-item {
  color: black;
}

.content {
  padding: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-para {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 50px;
}


/* Page Header */

.header {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-45deg, #211889, #0b206d, #0B0B3B, #3f0847);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    color: #04B404;
    /* width: vw; */
}

/* .contact_form {
  background: linear-gradient(-45deg, #10095b, #0b206d, #0B0B3B, #3f0847);
} */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/* Name Header Typewriting Effect*/

.css-typing p {
  /* border-right: .15em solid orange; */
  font-family: "Courier";
  /* font-size: 5vmin; */
  
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 15.5em;
  -webkit-animation: type 2s steps(25) ;
  animation: type 2s steps(25) ;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 17.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(25) ;
  animation: type2 2s steps(25);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* .css-typing p:nth-child(3) {
  width: 5.3em;
  opacity: 0;
  -webkit-animation: type3 5s steps(13, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(13, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} */

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}



/* Name Header*/
.nameheader {
  /* font-size: 70px; */
  font-size: 6.0vmin;
  /* padding-left: 40px; */
  font-weight: 800;
}

.quoteheader {
  /* font-size: 30px; */
  font-size: 5.2vmin;
  /* padding-left: 60px; */
  font-weight: 800;
}

/* Header image */
.headerimage {
  width: 28vmin;
  height: auto;
  border: 5px solid #555;
  border-radius: 115px;
  font-size: 30%;
}

.introimage {
  width: 56vmin;
  /* height: auto; */
  border: 5px solid #555;
  border-radius: 50%;
}

/* Main Body */
.mainbody {
  /*background: linear-gradient(to bottom, #663300 0%, #120A2A 100%);*/
  background: linear-gradient(0deg, #254bf6, #4483a2, #f4f4f4, #4499fa);
}


/* .about_me_body{
  width: 75vw;
  margin: auto;
} */

.about_me{
  /* padding-left: 40px; */
  background-color: #ffffff;
  opacity: 1.0;
  /* color: #000000; */
  border-style: double;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  /* margin-right: auto; */
  font-family: Arial, Helvetica, sans-serif;
  width: 80vw;
  margin: auto;
}

.more_about_me{
  font-size: 120%;
  border-radius: 10%;
  background-color: #3f0847;
}

.more_about_me_link{
  color: rgb(255, 255, 255);
  font-family: monaco, monospace;
  /* background-color: transparent;  */
}

.more_about_me_link:hover{
  color: rgb(248, 224, 12);
  /* background-color: transparent;  */
}

.skills_box{
  /* padding-left: 40px; */
  background-color: #ed6b08;
  color: #FFFFFF;
  border-style: double;
  border-radius: 15px;
  /* margin-left: auto; */
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  /* margin-right: auto; */
  font-family: Arial, Helvetica, sans-serif;
  width: 75vw;
  margin: auto;
}

/* .projectbox {

  background-color: #000000;
  width: 65vw;
  height: auto;
  border: 15px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: #000000;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
} */

.projectname{
  font-size: 220%;
  font-family: Georgia, serif;
  color: #ffffff;
}

/* .project_image_box { */
  /* border: 5px solid #555; */
  /* width: 50vmin; */
  /* float: right; */
  /* border-radius: 20px; */
  /* padding-top: 10px; */
/* } */

.project_image_left {
  border: 5px solid #555;
  width: 30%;
  float: left;
  border-radius: 20px;
}

.project_image_box:hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.project_details{
  color: #ffffff;
  font-size: 130%;
}



.jobname{
  font-size: 150%;
}


/* body header */
.bodyhead{
  text-align: center;
  color: yellow;
  font-size: 200%;
}

.tech_table{
  border: 1px solid #18232a;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-color: transparent;
  border-style: solid;
  border-radius: 30px;  
  text-align: center;
  background-color: #18232a;
  color: #FFFFFF;
  padding-bottom: 30px;

  /* width: 60%;
  border: 15px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: #000000;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  margin: auto; */
}

th, td{
  border: 1px solid #293842;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #18232a;
  /* color: #FFFFFF; */
  padding-bottom: 10px;
  border-color: transparent;
  border-style: solid;
  border-radius: 30px;
}

.tech_stack_table{
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td{
  width: 30vw;
  border-top: 2px solid rgb(29, 19, 112);
}

th{
  padding-top: 10px;
  font-size: 3.4vw;
  /* padding-bottom: 50px; */
}

.table_topics{
  color: #a6ccc6;
  font-size: 18px;
}

  /* #tech_header{
    padding-top: 35px;
    font-size: 6.0vw;
    padding-bottom: 50px;
    border-color: #e2cece;
  } */

.sub_body_head{
  font-size: 7.4vmin;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  color: black;
}


.work_experience{
  background-color: #000000;
  width: 60%;
  border: 15px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-color: #000000;
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  margin: auto;

  /* border:#000000;
  border-radius: 15px;
  border-width: 50px;
  color: #FFFFFF;
  text-align: left;
  margin-left: 270px;
  margin-right: 270px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 220px;
  background-color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 20px ; */
}




.experience_button{
  background-color: #8410eb;
  font-size: 21px;
  border: #000000;
  border-radius: 20px;
  padding: 11px;
  padding-left: 25px;
  padding-right: 25px;
  color: #FFFFFF;
}


.download_cv{
  background-color: #0eeb62;
  font-size: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius:  35px;
}

.download_cv:hover{
  background-color: #1adbbe;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top:30px;
  
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 40%;
}

/* The circles on the timeline */
/* .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
} */

/* Place the container to the left */
.left {
  left: 3.25%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}


